.supplier-category {
    width: 50%;
    float: left;
}

.shop-category {
    width: 50%;
    float: right;
}

.Category-Map-Table td {
    padding-right: 20px;
}

.Category-Map-Table {
    margin-bottom: 20px;
}

ul {
    padding-left: 20px !important;
}

.tree, .tree ul {
    list-style-type: none;
    //background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

.tree ul {
    margin-left: 10px;
}

.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(../images/node.png) no-repeat;
    color: #369;
    font-weight: bold;
}

.tree li.last {
    background: #fff url(../images/lastnode.png) no-repeat;
}

.supplier-category-body.tree {
    overflow: scroll;
    height: 87vh;
}

.shop-category-body.tree {
    overflow: scroll;
    height: 87vh;
}

.supplier-categories-name {
    margin-left: 50px;
}
.shop-category-name {
    margin-left: 50px;
}