<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Mageseller\SupplierImport\Api\XitCategoryRepositoryInterface" type="Mageseller\SupplierImport\Model\XitCategoryRepository"/>
	<preference for="Mageseller\SupplierImport\Api\Data\XitCategoryInterface" type="Mageseller\SupplierImport\Model\Data\XitCategory"/>
	<preference for="Mageseller\SupplierImport\Api\Data\XitCategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Mageseller\SupplierImport\Model\ResourceModel\XitCategory\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">mageseller_supplierimport_xitcategory</argument>
			<argument name="resourceModel" xsi:type="string">Mageseller\SupplierImport\Model\ResourceModel\XitCategory\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="mageseller_supplierimport_xitcategory_listing_data_source" xsi:type="string">Mageseller\SupplierImport\Model\ResourceModel\XitCategory\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Catalog\Model\Category\DataProvider">
		<plugin name="Mageplaza_HelloWorld_Plugin" type="Mageseller\SupplierImport\Plugin\CategoryDropdownPlugin" sortOrder="10"   />
	</type>

</config>
