<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Mageseller_SupplierImport::top_level"
                module="Mageseller_SupplierImport"
                resource="Mageseller_SupplierImport::top_level"
                sortOrder="10"
                title="Supplier's"
        />
        <add
                id="Mageseller_SupplierImport::xit"
                module="Mageseller_SupplierImport"
                resource="Mageseller_SupplierImport::xit"
                parent="Mageseller_SupplierImport::top_level"
                sortOrder="0"
                title="Xit Supplier"
        />
        <add
                id="Mageseller_SupplierImport::mageseller_supplierimport_xitcategory"
                module="Mageseller_SupplierImport"
                action="mageseller_supplierimport/xitcategory/index"
                parent="Mageseller_SupplierImport::xit"
                resource="Mageseller_SupplierImport::category"
                sortOrder="10"
                title="Xit Category"
        />
        <add
                id="Mageseller_SupplierImport::Xit_category"
                title="Xit Category Mapping"
                module="Mageseller_SupplierImport"
                sortOrder="20" action="mageseller_supplierimport/xitcategory/category"
                parent="Mageseller_SupplierImport::xit"
                resource="Mageseller_SupplierImport::category_map"
        />
        <add
                id="Mageseller_SupplierImport::config"
                title="Xit Configuration"
                module="Mageseller_SupplierImport"
                sortOrder="30"
                parent="Mageseller_SupplierImport::xit"
                action="adminhtml/system_config/edit/section/xit"
                resource="Mageseller_SupplierImport::xit_config"
        />
    </menu>
</config>
