<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="supplier" sortOrder="10" translate="label">
			<label>4X Supplier</label>
		</tab>
		<section id="xit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Xit</label>
			<tab>supplier</tab>
			<resource>Mageseller_SupplierImport::xit_config</resource>
			<group id="importconfig" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Import Config</label>
				<field id="is_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Is Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Url</label>
					<comment/>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
				<field id="object_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Object Id</label>
					<comment/>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
				<field id="token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Token</label>
					<comment/>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
				<field id="import_category" translate="label comment tooltip" type="button" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Import Xit Category</label>
					<frontend_model>Mageseller\SupplierImport\Block\System\Config\ImportXitCategory</frontend_model>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>
