<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="supplier" sortOrder="10" translate="label">
			<label>4X Supplier</label>
		</tab>
		<section id="xit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Xit</label>
			<tab>supplier</tab>
			<resource>Mageseller_XitImport::xit_config</resource>
			<group id="importconfig" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Import Config</label>
				<field id="is_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Is Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Url</label>
					<comment/>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
				<field id="object_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Object Id</label>
					<comment/>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
				<field id="token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Token</label>
					<comment/>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
				<field id="import_category" translate="label comment tooltip" type="button" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Import Xit Category</label>
					<frontend_model>Mageseller\XitImport\Block\System\Config\ImportXitCategory</frontend_model>
					<depends>
						<field id="xit/importconfig/is_enable">1</field>
					</depends>
				</field>
			</group>
			<group id="images" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="180" translate="label comment">
				<label>Catalog Images Import</label>
				<comment>Will download and import pending products images into Magento.</comment>
				<field id="last_sync_images" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label comment" type="text">
					<label>Last Synchronization Date</label>
					<comment><![CDATA[Last synchronization date of operator images.]]></comment>
				</field>
				<field id="button_images" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="button_label">
					<frontend_model>Mageseller\XitImport\Block\Adminhtml\System\Config\Button\Sync\Images</frontend_model>
				</field>
			</group>
			<group id="product" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
				<label>Products Import</label>
				<field id="last_sync_product" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label comment" type="text">
					<label>Last Synchronization Date</label>
					<comment><![CDATA[Last synchronization date of operator products.]]></comment>
				</field>
				<field id="button_products" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="button_label">
					<frontend_model>Mageseller\XitImport\Block\Adminhtml\System\Config\Button\Sync\Products</frontend_model>
				</field>
			</group>
		</section>
	</system>
</config>
