<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="mageseller_ingrammicroimport" id="mageseller_ingrammicroimport">
			<module before="Magento_Backend" name="Mageseller_IngrammicroImport"/>
		</route>
	</router>
</config>
