<?xml version="1.0"?>
<!--
  ~ A Magento 2 module named Mageseller/DriveFx
  ~ Copyright (C) 2020
  ~
  ~  @author      satish29g@hotmail.com
  ~  @site        https://www.mageseller.com/
  ~
  ~ This file included in Mageseller/DriveFx is licensed under OSL 3.0
  ~
  ~ http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  ~ Please see LICENSE.txt for the full text of the OSL 3.0 license
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="drivefx" translate="label" sortOrder="10">
            <label>Drivefx</label>
        </tab>
        <section id="drivefx" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>drivefx</tab>
            <resource>Mageseller_DriveFx::Drivefx_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Base Url</label>
                    <comment>https://developer.phcfx.com/app/</comment>
                </field>
                <field id="v3url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Api V3 Url</label>
                    <comment>https://interface.phcsoftware.com/v3/</comment>
                </field>
                <field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Username</label>
                    <comment>Ex. parceiro</comment>
                </field>
                <field id="password" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Password</label>
                    <comment>Ex. parceiro2015</comment>
                </field>
                <field id="app_type" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>App Type</label>
                    <comment>Ex. D61151BF98</comment>
                </field>
                <field id="company" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Company</label>
                    <comment>Ex. Dev000001</comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Will be saved at : var/log/drivefxlogger</comment>
                </field>
            </group>
            <group id="supplier" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Supplier Details</label>
                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Supplier Name</label>
                </field>
                <field id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Supplier Email</label>
                </field>
                <field id="contact" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Supplier Contact</label>
                </field>
            </group>
        </section>
    </system>
</config>