<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Mageseller_IngrammicroImport::IngrammicroCategory" sortOrder="10" title="IngrammicroCategory">
					<resource id="Mageseller_IngrammicroImport::IngrammicroCategory_save" sortOrder="10" title="Save IngrammicroCategory"/>
					<resource id="Mageseller_IngrammicroImport::IngrammicroCategory_delete" sortOrder="20" title="Delete IngrammicroCategory"/>
					<resource id="Mageseller_IngrammicroImport::IngrammicroCategory_update" sortOrder="30" title="Update IngrammicroCategory"/>
					<resource id="Mageseller_IngrammicroImport::IngrammicroCategory_view" sortOrder="40" title="View IngrammicroCategory"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Mageseller_XitImport::top_level" title="Supplier's">
								<resource id="Mageseller_IngrammicroImport::ingrammicro" title="Ingrammicro">
									<resource id="Mageseller_IngrammicroImport::category" title="Ingrammicro Category"/>
									<resource id="Mageseller_IngrammicroImport::category_map" title="Ingrammicro Category Mapping"/>
									<resource id="Mageseller_IngrammicroImport::ingrammicro_config" title="Ingrammicro Configuration"/>
								</resource>
							</resource>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>